<h1>Listing reviews</h1>
<hr/>
<table>
  <thead>
    <tr>
      <th style="text-align:left">HASH</th>
      <th style="text-align:left">PRODUCT</th>
      <th style="text-align:left">RATING</th>
      <th style="text-align:left">CUSTOMER</th>
      <th style="text-align:left">BODY</th>

      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @reviews.each do |review| %>
      <tr>
        <td style="vertical-align:top"><%= review.uuid %></td>
        <td style="vertical-align:top">
          <strong><%= review.product_title %></strong>
          <%= link_to review.product_url %>
        </td>
        <td style="vertical-align:top"><%= review.body.html_safe.strip.html_safe %></td>
        <td style="vertical-align:top"><%= review.reviewed_by_user %></td>

        <td style="vertical-align:top"><%= link_to 'Show', review %></td>
        <td style="vertical-align:top"><%= link_to 'Edit', edit_review_path(review) %></td>
        <td style="vertical-align:top"><%= link_to 'Destroy', review, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <tr>
        <td colspan="100"><hr/></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Review', new_review_path %>
